.move {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.moveDate {
    align-self: flex-end;
    font-size: 0.8rem;
    font-weight: bold;
}

.styleEntry {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
.styleDischarge {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
