@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap");

:root {
    color-scheme: light dark;
    --color: rgba(255, 255, 255, 0.87);
    color: var(--color);
    background-color: #242424;
    --color-errors: lightcoral;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

input,
select,
button {
    padding: 1rem;
    border-radius: 1rem;
    outline: none;
    border: none;
}

input,
select {
    border: 2px solid transparent;
    transition: border 0.5s;
}

input:focus,
select:focus {
    border: 2px solid rgb(71, 135, 194);
}

.contentGrid {
    margin-top: 3rem;
    display: grid;
    gap: 3rem;
}

@media (min-width: 900px) {
    .contentGrid {
        grid-template-columns: repeat(2, 1fr);
    }
}
